*{
    padding: 0;
    margin: 0;
    background-color: black;
    color:white;
}

.maincontainer {
  width: 50%;
  margin: 150px auto;
}

.heading h1{
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.signupform{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.input{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    padding: 16px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}

#submit{
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: 400;
}